.contest-page__count {
  font-size: 1.6rem;
  font-weight: normal;
}

.contest-page__row-action button {
  background: transparent;
  border: none;
  color: rgb(0, 0, 204);
  cursor: pointer;
  margin-right: 1rem;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}
