.problem-page {
  padding-top: 3rem;
}

.problem-page__problem-name {
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 2rem;
}

.problem-page__constraints {
  width: 60rem;
  .score {
    width: 30rem;
  }
}
