.problem-page {
  padding-top: 3rem;
}

.problem-page__problem-name {
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 2rem;
}

.problem-page__constraints {
  width: 60rem;
  .score {
    width: 30rem;
  }
}

.problem-page__tabpanel {
  padding-top: 1rem;
}

.problem-page__tablist {
  position: relative;
  &::after {
    background-color: #ccc;
    content: "";
    height: 0.1rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
  }
}

.problem-page__tab {
  background-color: #eee;
  border: 0.1rem solid #ccc;
  color: #666;
  font-weight: bold;
  padding: 1.2rem 0;
  position: relative;
  width: 12rem;
  z-index: 1;
  transition: all linear 0.15s;
  &[aria-selected="true"] {
    background-color: #fff;
    color: $theme;
    border-bottom-color: #fff;
  }
  &[aria-selected="false"] {
    cursor: pointer;
    &:hover {
      background-color: $theme;
      color: #fff;
    }
  }
  &:focus {
    outline: none;
  }
}

.problem-page__tab + .problem-page__tab {
  margin-left: 0.2rem;
}
