.my-table {
  border-spacing: 0;
  border-collapse: collapse;
  tr.my-table__header {
    th,
    td {
      border-bottom: 0.2rem solid #ddd;
    }
  }
  tr + tr {
    th,
    td {
      border-top: 0.1rem solid #ddd;
    }
  }
  th {
    font-size: 1.3rem;
    text-align: left;
  }
  td {
    font-size: 1.3rem;
    text-align: left;
  }

  tr {
    height: 4rem;
  }

  tr:not(:first-child):hover {
    background-color: #f5f5f5;
  }

  a {
    color: $theme;
    text-decoration: none;
    transition: color 0.2s linear;
    &:focus,
    &:hover {
      color: #444;
    }
  }
}

.my-table.striped {
  tr:nth-child(2n) {
    background-color: lighten(#f5f5f5, 1%);
  }
}

.my-table.full-border {
  border: 0.1rem solid #ddd;
  th + th,
  td + td {
    border-left: 0.1rem solid #ddd;
  }
  th,
  td {
    padding-left: 1rem;
  }
}

.my-table__title {
  background-color: #eee;
  color: #666;
  height: unset !important;
}

.my-table__title td,
.my-table__title th {
  border-bottom: 0.2rem solid #ddd;
  font-size: 1.8rem;
  font-weight: bold;
  height: 4rem;
  padding-left: 1rem !important;
  text-align: left !important;
}

.my-table__empty-row td {
  font-weight: bold;
  padding-left: 1.2rem;
}
