$theme: #228b22;

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

.align-left-right {
  padding-left: 20%;
  padding-right: 20%;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.page-body {
  display: grid;
  grid-template-columns: 1fr;
}

.switch-wrapper {
  grid-row: 1;
  grid-column: 1;
}

.CodeMirror {
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  height: auto;
  overflow: hidden;
}

.CodeMirror * {
  font-family: monospace;
}

@import "./header";
@import "./problemset";
@import "./footer";
@import "./submission-list";
@import "./table";
@import "./problem-page";
@import "./submit-form";
@import "./auth";
@import "./animation";
@import "./pagination";
@import "./user-page";
@import "./settings-page";
@import "./my-tabview";
@import "./status-page";
@import "./submission-page";
@import "./test-result";
@import "./contest-list";
@import "./contest";
@import "./count-down";
