$theme: #228b22;

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

.align-left-right {
  padding-left: 20%;
  padding-right: 20%;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.page-body {
  display: grid;
  grid-template-columns: 1fr;
}

.switch-wrapper {
  grid-row: 1;
  grid-column: 1;
}

@import "./header";
@import "./problemset";
@import "./footer";
@import "./submission";
@import "./table";
@import "./problem-page";
@import "./submit-form";
@import "./auth";
@import "./animation";
@import "./pagination";
